<HTML>
<HEAD>
<TITLE>Agregar Ingreso</TITLE>

</HEAD>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery-ui-1.7.2.custom.css" />

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.3.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.min.js"></script>
<script type="text/javascript">
jQuery(function($){
	$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '&#x3c;Ant',
		nextText: 'Sig&#x3e;',
		currentText: 'Hoy',
		monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
		'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
		monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun',
		'Jul','Ago','Sep','Oct','Nov','Dic'],
		dayNames: ['Domingo','Lunes','Martes','Mi&eacute;rcoles','Jueves','Viernes','S&aacute;bado'],
		dayNamesShort: ['Dom','Lun','Mar','Mi&eacute;','Juv','Vie','S&aacute;b'],
		dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','S&aacute;'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''};
	$.datepicker.setDefaults($.datepicker.regional['es']);
});    

        $(document).ready(function() {
           $("#datepicker").datepicker();
        });
    </script>

<BODY>
<FORM action="/carga_ingresos/" METHOD="GET">
<table align="center" border="0">
<td align="left" width="100">Aportante:
</td>
<td align="left" width="100">
                        
                            <select name="ap" id="id_ap">

                            <option value="" selected="selected">---------</option>
                            {% if apo %}
                                {% for i in apo %}
                                    <option value="{{ i.id }}">{{ i.nombre }}</option>
                                {% endfor %}
                            {% endif %}
                            <!--option value="d">Debe</option>
                            <option value="h">Haber</option>
                            <option value="h4">Fer</option-->
</select>
<!--td align="center" width="150"><INPUT NAME="ap" TYPE="TEXT" VALUE=""-->
</td>

<tr>
<td align="left" width="100">Fecha:
</td>
<td align="center" width="150"><INPUT NAME="fe" TYPE="TEXT" VALUE="">
<!--div id="contenido-demo">	
        	<form action="">
           <label> Seleccionar Fecha:</label>
	       <input type="text" name="datepicker" id="datepicker" readonly="readonly" size="12" />
           </form>

    </div-->
</td>
<tr>
<td align="left" width="100">RUC/CI:
</td>
<td align="center" width="150"><INPUT NAME="ruc" TYPE="TEXT" VALUE="">
</td>

<tr>
</TABLE>
<table align="left" border="0">
<td align='left' width='50'>Cantidad:</td><td align='center' width='50'><INPUT NAME='cant1' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Concepto:</td><td align="left" width="100">
                        
                            <select name="des1" id="id_des1">

                            <option value="" selected="selected">---------</option>
                            {% if con %}
                                {% for i in con %}
                                    <option value="{{ i.id }}">{{ i.nombre }}</option>
                                {% endfor %}
                            {% endif %}
                            <!--option value="d">Debe</option>
                            <option value="h">Haber</option>
                            <option value="h4">Fer</option-->
</select>
<!--td align="center" width="150"><INPUT NAME="ap" TYPE="TEXT" VALUE=""-->
</td>
<td align='left' width='100'>Precio Unitario:</td><td align='center' width='150'><INPUT NAME='pu1' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Exentas:</td><td align='center' width='150'><INPUT NAME='ex1' TYPE='TEXT' VALUE=''></td>
<tr>
<td align='left' width='50'>Cantidad:</td><td align='center' width='50'><INPUT NAME='cant2' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Concepto:</td><td align="left" width="100">
                        
                            <select name="des2" id="id_des2">

                            <option value="" selected="selected">---------</option>
                            {% if con %}
                                {% for i in con %}
                                    <option value="{{ i.id }}">{{ i.nombre }}</option>
                                {% endfor %}
                            {% endif %}
                            <!--option value="d">Debe</option>
                            <option value="h">Haber</option>
                            <option value="h4">Fer</option-->
</select>
<!--td align="center" width="150"><INPUT NAME="ap" TYPE="TEXT" VALUE=""-->
</td><td align='left' width='100'>Precio Unitario:</td><td align='center' width='150'><INPUT NAME='pu2' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Exentas:</td><td align='center' width='150'><INPUT NAME='ex2' TYPE='TEXT' VALUE=''></td>
<tr>
<td align='left' width='50'>Cantidad:</td><td align='center' width='50'><INPUT NAME='cant3' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Concepto:</td><td align="left" width="100">
                        
                            <select name="des3" id="id_des3">

                            <option value="" selected="selected">---------</option>
                            {% if con %}
                                {% for i in con %}
                                    <option value="{{ i.id }}">{{ i.nombre }}</option>
                                {% endfor %}
                            {% endif %}
                            <!--option value="d">Debe</option>
                            <option value="h">Haber</option>
                            <option value="h4">Fer</option-->
</select>
<!--td align="center" width="150"><INPUT NAME="ap" TYPE="TEXT" VALUE=""-->
</td><td align='left' width='100'>Precio Unitario:</td><td align='center' width='150'><INPUT NAME='pu3' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Exentas:</td><td align='center' width='150'><INPUT NAME='ex3' TYPE='TEXT' VALUE=''></td>
<tr>
<td align='left' width='50'>Cantidad:</td><td align='center' width='50'><INPUT NAME='cant4' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Concepto:</td><td align="left" width="100">
                        
                            <select name="des4" id="id_des4">

                            <option value="" selected="selected">---------</option>
                            {% if con %}
                                {% for i in con %}
                                    <option value="{{ i.id }}">{{ i.nombre }}</option>
                                {% endfor %}
                            {% endif %}
                            <!--option value="d">Debe</option>
                            <option value="h">Haber</option>
                            <option value="h4">Fer</option-->
</select>
<!--td align="center" width="150"><INPUT NAME="ap" TYPE="TEXT" VALUE=""-->
</td><td align='left' width='100'>Precio Unitario:</td><td align='center' width='150'><INPUT NAME='pu4' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Exentas:</td><td align='center' width='150'><INPUT NAME='ex4' TYPE='TEXT' VALUE=''></td>
<tr>
<td align='left' width='50'>Cantidad:</td><td align='center' width='50'><INPUT NAME='cant5' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Concepto:</td><td align="left" width="100">
                        
                            <select name="des5" id="id_des5">

                            <option value="" selected="selected">---------</option>
                            {% if con %}
                                {% for i in con %}
                                    <option value="{{ i.id }}">{{ i.nombre }}</option>
                                {% endfor %}
                            {% endif %}
                            <!--option value="d">Debe</option>
                            <option value="h">Haber</option>
                            <option value="h4">Fer</option-->
</select>
<!--td align="center" width="150"><INPUT NAME="ap" TYPE="TEXT" VALUE=""-->
</td><td align='left' width='100'>Precio Unitario:</td><td align='center' width='150'><INPUT NAME='pu5' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Exentas:</td><td align='center' width='150'><INPUT NAME='ex5' TYPE='TEXT' VALUE=''></td>
<tr>
<td align='left' width='50'>Cantidad:</td><td align='center' width='50'><INPUT NAME='cant6' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Concepto:</td><td align="left" width="100">
                        
                            <select name="des6" id="id_des6">

                            <option value="" selected="selected">---------</option>
                            {% if con %}
                                {% for i in con %}
                                    <option value="{{ i.id }}">{{ i.nombre }}</option>
                                {% endfor %}
                            {% endif %}
                            <!--option value="d">Debe</option>
                            <option value="h">Haber</option>
                            <option value="h4">Fer</option-->
</select>
<!--td align="center" width="150"><INPUT NAME="ap" TYPE="TEXT" VALUE=""-->
</td><td align='left' width='100'>Precio Unitario:</td><td align='center' width='150'><INPUT NAME='pu6' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Exentas:</td><td align='center' width='150'><INPUT NAME='ex6' TYPE='TEXT' VALUE=''></td>
<tr>
<td align='left' width='50'>Cantidad:</td><td align='center' width='50'><INPUT NAME='cant7' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Concepto:</td><td align="left" width="100">
                        
                            <select name="des7" id="id_des7">

                            <option value="" selected="selected">---------</option>
                            {% if con %}
                                {% for i in con %}
                                    <option value="{{ i.id }}">{{ i.nombre }}</option>
                                {% endfor %}
                            {% endif %}
                            <!--option value="d">Debe</option>
                            <option value="h">Haber</option>
                            <option value="h4">Fer</option-->
</select>
<!--td align="center" width="150"><INPUT NAME="ap" TYPE="TEXT" VALUE=""-->
</td><td align='left' width='100'>Precio Unitario:</td><td align='center' width='150'><INPUT NAME='pu7' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Exentas:</td><td align='center' width='150'><INPUT NAME='ex7' TYPE='TEXT' VALUE=''></td>
<tr>
<td align='left' width='50'>Cantidad:</td><td align='center' width='50'><INPUT NAME='cant8' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Concepto:</td><td align="left" width="100">
                        
                            <select name="des8" id="id_des8">

                            <option value="" selected="selected">---------</option>
                            {% if con %}
                                {% for i in con %}
                                    <option value="{{ i.id }}">{{ i.nombre }}</option>
                                {% endfor %}
                            {% endif %}
                            <!--option value="d">Debe</option>
                            <option value="h">Haber</option>
                            <option value="h4">Fer</option-->
</select>
<!--td align="center" width="150"><INPUT NAME="ap" TYPE="TEXT" VALUE=""-->
</td><td align='left' width='100'>Precio Unitario:</td><td align='center' width='150'><INPUT NAME='pu8' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Exentas:</td><td align='center' width='150'><INPUT NAME='ex8' TYPE='TEXT' VALUE=''></td>
<tr>
<td align='left' width='50'>Cantidad:</td><td align='center' width='50'><INPUT NAME='cant9' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Concepto:</td><td align="left" width="100">
                        
                            <select name="des9" id="id_des9">

                            <option value="" selected="selected">---------</option>
                            {% if con %}
                                {% for i in con %}
                                    <option value="{{ i.id }}">{{ i.nombre }}</option>
                                {% endfor %}
                            {% endif %}
                            <!--option value="d">Debe</option>
                            <option value="h">Haber</option>
                            <option value="h4">Fer</option-->
</select>
<!--td align="center" width="150"><INPUT NAME="ap" TYPE="TEXT" VALUE=""-->
</td><td align='left' width='100'>Precio Unitario:</td><td align='center' width='150'><INPUT NAME='pu9' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Exentas:</td><td align='center' width='150'><INPUT NAME='ex9' TYPE='TEXT' VALUE=''></td>
<tr>
<td align='left' width='50'>Cantidad:</td><td align='center' width='50'><INPUT NAME='cant10' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Concepto:</td><td align="left" width="100">
                        
                            <select name="des10" id="id_des10">

                            <option value="" selected="selected">---------</option>
                            {% if con %}
                                {% for i in con %}
                                    <option value="{{ i.id }}">{{ i.nombre }}</option>
                                {% endfor %}
                            {% endif %}
                            <!--option value="d">Debe</option>
                            <option value="h">Haber</option>
                            <option value="h4">Fer</option-->
</select>
<!--td align="center" width="150"><INPUT NAME="ap" TYPE="TEXT" VALUE=""-->
</td><td align='left' width='100'>Precio Unitario:</td><td align='center' width='150'><INPUT NAME='pu10' TYPE='TEXT' VALUE=''></td><td align='left' width='100'>Exentas:</td><td align='center' width='150'><INPUT NAME='ex10' TYPE='TEXT' VALUE=''></td>

<br>
<tr>
<td align="left" width="100">Total:
</td>
<td align="center" width="150"><INPUT NAME="tot" TYPE="TEXT" VALUE="" disabled="disabled">
</td>
<tr>
<td align="right" width="150"><INPUT NAME="boton" TYPE="SUBMIT" VALUE="Enviar">
</td>
</TABLE>
</FORM>
</BODY>
</HTML>

