<h2>
  <p align="center"><a href="?b=w" id="/search/"><font size=3 >Agregar</a></font>
  </p>
  
</h2>

<form action="/carga/" method="GET">
<label for="q"><font size=4 color=#3366FF>Aportante </label></font>
<input type="text" name="aport" value="">
<label for="q"><font size=4 color=#3366FF>Fecha </label></font>
<input type="text" name="fecha" value="">
<label for="q"><font size=4 color=#3366FF>RUC/CI </label></font>
<input type="text" name="ruc_ci" value="">
<label for="q"><font size=4 color=#3366FF>Cantidad </label></font>
<input type="text" name="cantidad" value="">
<label for="q"><font size=4 color=#3366FF>Descripcion </label></font>
<input type="text" name="descripcion" value="">
<label for="q"><font size=4 color=#3366FF>Precio Unitario </label></font>
<input type="text" name="precio_u" value="">
<label for="q"><font size=4 color=#3366FF>Exentas </label></font>
<input type="text" name="exentas" value="">
<label for="q"><font size=4 color=#3366FF>Total</label></font>
<input type="text" name="total" value="" disabled="disabled">
<input type="submit" value="Enviar">
</form>