<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">

<HEAD>
    <TITLE>Generar Planilla Simplificada de Egresos</TITLE>
</HEAD>

<BODY>
    <H1 align="center">Generar Planilla Simplificada de Egresos</H1> 
    <H2 align="center">Ingrese las Fechas de Inicio y de Fin</H2>
    
    
    <FORM action="/generar_planilla_egresos/" METHOD="GET" name="formulario">
        <TABLE align="center" border="0">
            <TD align="left" width="100">Fecha Inicio (Formato: aaaa-mm-dd):</TD>
            <TD align="center" width="150"><INPUT NAME="fecha_inicio" TYPE="TEXT" VALUE=""></TD>
            <TR>
            <TD align="left" width="100">Fecha Fin (Formato: aaaa-mm-dd):</TD>
            <TD align="center" width="150"><INPUT NAME="fecha_fin" TYPE="TEXT" VALUE=""></TD>
            <TR>
            <TD align="center" width="150"><INPUT NAME="boton" TYPE="SUBMIT" VALUE="Generar Planilla"></TD>
        </TABLE>
    </FORM>
</BODY>
</HTML>

